:root{
  --black:#222;
  --white:#f0f0f0;
  --couleur-principale:#a7029a;
  --couleur-secondaire:darkgray;

  --degrade-principale: linear-gradient(36deg, rgba(167,2,154,0.7) 0%, rgba(167,2,154,0) 100%);
}

